
<div class=""></div>


 <h2 class="sub-header">{{title}}</h2>
     	<ul class="ulPic clearfix">
     	<a ng-repeat="key in subjects" href="#/detail/{{key.id}}">
     		 	<li class="pict">
     		 	<img ng-src="{{key.images.large}}" alt="">
     		 		<div class="movie_message">
     		             <h3>{{key.title}}</h3>
				         <p><span>{{key.year}}</span></p>
     		 			 <p>导演:<span ng-repeat="director in key.directors">{{director.name}}</span></p>
     		 			 <p>类型:<span ng-repeat="genre in key.genres">{{genre}}{{$last?"":"、"}}</span></p>
     		 			  <span class="badge score">评分：{{key.rating.average}}</span>	
     		 		</div>
     		 
     		 	</li>	
     	</a>
     	</ul>



<div class="mask"  ng-hide="subjects.length">
<div class="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>
</div>

    <p style="margin:20px;">总共有{{total}}条电影,共{{totalPage}}页</p>
    <div style="width:{{pageUl_width}};margin:0 auto;">
    <nav>
        <page pageControl="pageControl"></page>
    </nav>
    </div>

